<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="https://github.com/0x01BM" class="link link--dark"><i class="fab fa-github"></i></a>&nbsp;
      <a href="https://www.linkedin.com/in/0x01bm/" class="link link--dark"><i class="fab fa-linkedin-in"></i></a>&nbsp;
      <a href="https://twitter.com/0x01BM" class="link link--dark"><i class="fab fa-twitter"></i></a>&nbsp;
      <a href="/publickey.benjamin@marr.id.asc" class="link link--dark"><i class="fas fa-key"></i></a>&nbsp;</li> 
      <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
      <li><a href="{{ site.baseurl }}/">posts</a></li>
    </ul>
  </div>
</nav>
